package testPages

import "echo-test/components/layouts"
import "echo-test/components/test"
import "echo-test/db"

type CreateTestProps struct {
	userSuggestions []db.GetUserSuggestionsRow
}

templ CreateTestPage(props  testComponents.CreateTestProps) {
	@layouts.Base() {
		@testComponents.CreateTest(props)
	}
}
