package testPages

import "echo-test/db"
import "echo-test/components/layouts"
import "echo-test/components/test"

templ TestsPage(tests []db.ListTestsWithTeacherRow ) {
	@layouts.Base() {
		@testComponents.Tests(tests)
	}
}
