package questionPages

import "echo-test/components/layouts"
import "echo-test/components/question"
import "echo-test/components"

type CreateQuestionPageProps struct {
	QuestionTypes []components.SelectValues
}

templ CreateQuestionPage(props CreateQuestionPageProps) {
	@layouts.Base() {
		@questionComponents.CreateQuestion(questionComponents.CreateQuestionProps{QuestionTypes: props.QuestionTypes})
	}
}
