package questionPages

import "echo-test/components/layouts"
import "echo-test/db"
import "echo-test/components/question"

type QuestionsPageProps struct {
	Questions []db.Question
}

templ QuestionsPage(props QuestionsPageProps) {
	@layouts.Base() {
		@questionComponents.Questions()
	}
}
