package components

import "echo-test/services"
import "echo-test/components/layouts"

templ Tasks(tasks []services.Task) {
	@layouts.Base() {
		<div class="w-full p-2">
			for _, value := range tasks {
				<div>{ value.Name }</div>
			}
		</div>
	}
}
