package testComponents

import "fmt"

type CreateTestProps struct {
	DefaultTeacherId string
}

templ CreateTest(props  CreateTestProps) {
	<div id="create-test-component" class="flex gap-3 flex-col min-h-[80vh]">
		<div class="prose mb-6">
			<h1 class="text-primary">Create new test</h1>
		</div>
		<div class="flex flex-1 mb-7 form-shadow px-4 rounded-lg">
			@Stepper(StepperProps{
				Steps:       []string{"Main info", "Scoring requirements", "Questin definition", "Summary"},
				CurrentStep: 1,
			})
			<div class="divider divider-horizontal"></div>
			<div class="flex-1">
				<form
					x-data={ fmt.Sprintf((`
					{
						currentStep: 1, 
						testName: '', teacherId: '%s', 
						testDuration: '60', 
						maxScore: '100', 
						minRequiredScore: '60',
					}
					`), props.DefaultTeacherId) }
					action="POST"
				>
					<div x-show="currentStep === 1" id="create-test-form-step-1">
						@CreateTestStepOne(CreateTestStepOneProps{})
					</div>
					<div x-show="currentStep === 2" id="create-test-form-step-2"></div>
					<div x-show="currentStep === 3" id="create-test-form-step-3"></div>
					<div x-show="currentStep === 4" id="create-test-form-step-4"></div>
				</form>
			</div>
		</div>
	</div>
}
