package testComponents

import "fmt"

type CreateTestProps struct {
	DefaultTeacherId string
}

templ CreateTest(props  CreateTestProps) {
	<div id="create-test-component" class="flex gap-3 flex-col min-h-[80vh]">
		<div class="prose mb-6">
			<h1 class="text-primary">Create new test</h1>
		</div>
		<div class="flex flex-1 mb-7 form-shadow px-4 rounded-lg">
			@Stepper(StepperProps{
				Steps:       []string{"Main info", "Scoring requirements", "Questin definition", "Summary"},
				CurrentStep: 1,
			})
			<div class="divider divider-horizontal"></div>
			<div class="flex-1">
				<form
					x-data={ fmt.Sprintf((`
					{
						currentStep: 1, 
						testName: '', teacherId: '%s', 
						testDuration: '60', maxScore: '100', 
						minRequiredScore: '60'
					}
					`), props.DefaultTeacherId) }
					action=""
				>
					<input name="test-name" type="hidden" x-model="testName"/>
					<input name="teacher-id" type="hidden" x-model="teacherId"/>
					<input name="test-duration" type="hidden" x-model="testDuration"/>
					<input name="max-score" type="hidden" x-model="maxScore"/>
					<input name="min-required-score" type="hidden" x-model="minRequiredScore"/>
					<div id="create-test-form">
						@CreateTestStepOne(CreateTestStepOneProps{})
					</div>
				</form>
			</div>
		</div>
	</div>
}
