package testComponents

type CreateTestProps struct {
	DefaultTeacherId string
}

templ CreateTest(props  CreateTestProps) {
	<div data-controller="create-test" id="create-test-component" class="flex gap-3 flex-col min-h-[80vh]">
		<div class="prose mb-6">
			<h1 class="text-primary">Create new test</h1>
		</div>
		<div class="flex flex-1 mb-7 form-shadow px-4 rounded-lg flex-col lg:flex-row">
			@Stepper(StepperProps{
				Steps:       []string{"Main info", "Scoring", "Questions", "Summary"},
				CurrentStep: 1,
			})
			<div class="divider divider-horizontal"></div>
			<div class="flex-1">
				<form
					class="h-full"
					action="POST"
				>
					<div class="h-full" id="create-test-form-step-1" data-create-test-target="step">
						@CreateTestStepOne(CreateTestStepOneProps{})
					</div>
					<div class="h-full" id="create-test-form-step-2" data-create-test-target="step"></div>
					<div class="h-full" id="create-test-form-step-3" data-create-test-target="step"></div>
					<div class="h-full" id="create-test-form-step-4" data-create-test-target="step"></div>
				</form>
			</div>
		</div>
	</div>
}
