package testComponents

import "echo-test/components"

type CreateTestStepScoreProps struct {
	Erors map[string]string
}

templ CreateTestStepScore(props CreateTestStepScoreProps) {
	<div
		x-init="currentStep = 2"
		class="flex flex-col justify-between flex-1 h-full"
	>
		<div
			id="maximal-score"
			class="grid grid-cols-2 lg:grid-cols-5 gap-5 w-full"
		>
			<div class="col-span-2">
				@components.NumberInput(components.NumberInputProps{Label: "Maximum points", Name: "max-score", Min: "10", Required: true, Model: "maxScore", Error: props.Erors["MaxScore"]})
			</div>
			<div id="min-required-score" class="col-span-2">
				@components.NumberInput(components.NumberInputProps{Label: "Minimal score required", Name: "min-required-score", Min: "10", Required: true, Model: "minRequiredScore", Error: props.Erors["MinRequiredScore"]})
			</div>
		</div>
		<div class=" mt-auto mb-4 flex justify-between">
			<button hx-post="/test/new/step1" hx-target="#create-test-form-step-1" hx-push-url="true" type="button" class="btn btn-primary self-end">Previous Step</button>
			<button hx-post="/test/new/step3" hx-target="#create-test-form-step-3" hx-push-url="true" type="button" class="btn btn-primary self-end">Next Step</button>
			<button hx-post="/test/new" hx-target="#create-test-component" type="submit" class="btn btn-primary self-end">Test submit</button>
		</div>
	</div>
}
