package testComponents

type StepperProps struct {
	CurrentStep int
	Steps       []string
	Oob         bool
}

templ Stepper(props StepperProps) {
	<ul
		id="create-form-stepper"
		class="steps steps-vertical max-h-[800px]"
		if props.Oob {
			hx-swap-oob="true"
		}
	>
		for i, step := range props.Steps {
			if props.CurrentStep == i + 1 {
				<li class="step step-primary">{ step }</li>
			} else if props.CurrentStep < i + 1 {
				<li class="step">{ step }</li>
			} else {
				<li data-content="✓" class="step step-success">{ step }</li>
			}
		}
	</ul>
}
